<html>

   <body style="display: flex; justify-content: center;align-items: center;">
           
    
    <form action="/getuserlogin" method="POST" >
          <table style="width: 100%;">
        <tr>
            <td style="margin-top: 10;">
                UserName: <input style=" margin-left: 2.5em" type="text" name="Username"/><br><br>
                Password:     <input style=" margin-left: 3em" type="text" name="Password" /><br>
                <button style="margin-left:  50%;margin-top: 20;" type="submit"value="save">לחץ להתחברות</button>
            </td>
           
        </tr>
          </table>
    </form>
</body>


</html>