<html>
    hello <%= name %>
    <p>if You Want To Search for movie >>></p>
    <a href="/menu/Searchformovies">click here</a><br>
    <p>if You Want To Create New Movie >>></p>
    <a href="/menu/Createnewmovie">click here</a>
     <%if(Priority=="Admin"){%>
        <p>if You Want To Edit Users>>></p>
        <a href="/menu/EditUsers">click here</a>
    <%}%>
</html>